<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="code_by_Anil_purushothapatnam_code18">
	
	<listeners>
	<listener class-name="code.usa.tester.Listner.Listner"></listener>
	</listeners>
	<test name="search for Flights" preserve-order="true">
		<classes>
			<class name="code.usa.tester.Auto_Setup"></class>
			<class name="code.usa.tester.hashing_flights"></class>
		</classes>
	</test>
	<test name="Count Flight with different Filters" preserve-order="true">
		<classes>
			<class name="code.usa.tester.number_of_flights"></class>
		</classes>
	</test>
	
	<test name="Validate Flight Prices" preserve-order="true">
		<classes>
			<class name="code.usa.tester.Rates_flights"></class>
			<class name="code.usa.tester.number_of_carrier"></class>
		</classes>
	</test>
</suite>
